In [ ]:
my_set =set()
print(my_set)
print(type (my_set))

In [ ]:
my_set.add(1)
my_set

In [ ]:
my_set.add(2)
my_set

In [ ]:
my_set.add(2) #При попытке добавить запись, которая уже есть в множестве, новая запись не добавляется  
my_set

In [ ]:
my_list = [1,1,1,1,2,2,2,2,2,3,3,3,3,4]
s=set(my_list)
print(s)

In [ ]:
len(s)

In [ ]:
print(1in s)
print(6 in s)

In [ ]:
set1 = {1,2,3,4}
set2 = {1,2,3,4,5}

In [ ]:
set1.issubset(set2)

In [ ]:
set2.issubset(set1)

In [ ]:
set2.issuperset(set1)

In [ ]:
set1 = {1,2,3,}
set2 = {4,5,6}
set1.isdisjoint(set2)

In [ ]:
set1 = {1,2,3,4}
set2 = {1,2,3,4,5}
set3 = set1.union(set2)
set3

In [ ]:
set1 = {1,2,3,}
set2 = {1,3,3,4,5}
set3 = set1.intersection(set2)
set3

In [1]:
set1 = {0,1,2,3,4}
set2 = {1,2,3,4,5}
set3 = set1.difference(set2)
set4 = set1.symmetric_difference(set2)
print(set3)
print(set4)

{0}
{0, 5}

In [2]:
set1.update(set2)
set1

{0, 1, 2, 3, 4, 5}

In [3]:
set1.remove(1)
print(set1)
set1.remove(50)

{0, 2, 3, 4, 5}

KeyError: 50

In [4]:
set1.discard(2)
print(set1)
set1.discard(50)
print(set1)

{0, 3, 4, 5}
{0, 3, 4, 5}

In [6]:
popped_out_element=set1.pop()
print(popped_out_element)

0

In [8]:
set1.clear()
set1

set()